html {
  font-size: 18px;
}

/* @import url(link to google fonts); */

main {
  display: grid;
  /* grid-template-columns: 0.4fr 0.6fr; */
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 15px;
}

h1 {
  font-size: 2rem; /* Twice the size of the default 18px font size */
  font-style: italic;
}

/* img {
  width: 100%;
} */

main > section {
  background: blanchedalmond;
  height: 300px;
}

section#ds-data-collection {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

section#ds-dataviz {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
}

section#ds-video {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

section#ds-conclusion {
  grid-column: 7 / 10;
  grid-row: 2 / 3;
}
