/* whole document (everything in <body>)*/
body {
  background: white;
}

h1 {
  font-size: 80px;
}

header {
  background: white;
  height: 200px;
}

/* go to article with id name loerem-intro */
article#lorem-intro > p::first-line {
  font-size: 22px;
}
